<div
  class="jumbotron jumbotron-fluid shadow-lg"
  style="background-color: white; border-radius: 10px; min-width: 50vw;"
>
  <div class="container-fluid">
    <div class="row">
      <div
        class="d-flex justify-content-center col-xs-12 col-md-6"
        style="height: 100%;"
      >
        <img
          src="https://source.unsplash.com/600x500/?restuarant"
          alt=""
          class="img-fluid rounded"
        />
      </div>
      <div class="col-xs-12 col-md-6">
        <h1>List of Subscribers</h1>
        <a href="/subscribers/new" class="mb-3">
          <i class="fas fa-plus-circle mr-1 h4"></i>
          <span style="font-size: 18px; color: black;">Add new courses</span>
        </a>
        <% subscribers.forEach(subscriber => { %>
        <div class="container">
          <div
            class="row"
            style="
              margin: 5px 0;
              padding: 5px 0;
              border-bottom: 3px solid #f8f9fa;
            "
          >
            <div class="col-xs-12">
              <h2 class="h5" style="margin-bottom: 0;">
                Name:
                <a href="<%= `/subscribers/${subscriber._id}` %>"
                  ><%= subscriber.name %>
                </a>
              </h2>
              <p style="margin-bottom: 0;">
                Email:
                <span style="max-height: 23px; font-size: 14px;"
                  ><%= subscriber.email %>
                </span>
              </p>
              <div class="row">
                <div class="col-xs-6">
                  <a
                    href="<%=`/subscribers/${subscriber._id}/edit` %>"
                    style="
                      text-decoration: underline;
                      margin: 0 15px;
                      color: black;
                    "
                  >
                    Edit
                  </a>
                </div>
                <div class="col-xs-6" onclick="deleteUser()">
                  <a
                    href="<%=`subscribers/${subscriber._id}/delete?_method=DELETE` %>"
                    style="
                      text-decoration: underline;
                      margin: 0 15px;
                      color: black;
                    "
                    onclick="return confirm('Are you sure you want to delete this record?')"
                  >
                    Delete
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>
