<div class="container">
  <h2>Users Table</h2>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Fullname</th>
        <th scope="col">Email</th>
        <th scope="col">Zip Code</th>
        <th class="text-center" scope="col">Name's length</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user => { %>
      <tr>
        <td style="font-weight: 800;">
          <a href="<%= `/users/${user._id}` %>" style="color: #a9d3ff;">
            <%= user.fullName %></a
          >
        </td>
        <td><%= user.email %></td>
        <td>@<%= user.zipCode %></td>
        <td class="text-center">
          <%= user.fullName.replace(/\s/g, "").length %>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
